<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha pagina</title>
</head>
<body>
    <div>
        <h1>Titlo 1</h1>
        <h5>Ola Mundo</h5>
    </div>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ut suscipit facilis magni nesciunt tempore rerum, tempora fugiat reprehenderit rem assumenda ipsam tenetur placeat non natus beatae iure consequuntur sunt.</p>
    </div>
</body>
</html>